/* General container styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #0b0b0b;
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  /* Header styling */
  .mobile-header {
    background-color: #0b0b0b;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-header-logo{
    width: 200px;
    height: auto;
  }
  
  .header-title h1 {
    font-size: 1.8em;
    color: #fff;
    margin: 0;
  }
  
  .bell-icon {
    font-size: 1.5em;
    color: white;
    align-self: right;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  
  /* Main content styling */
  .mobile-content {
    overflow: hidden;  /* Disable scrolling in the main container */
  height: 100vh;     /* Ensure the container takes up the full viewport height */
  width: 100vw;      /* Ensure it takes up the full viewport width */
    padding: 20px;
    flex: 1;
  }
  
  .listening-section {
    background-color: #1e1e1e;
    height: 75px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  .listening-section p a {
    color: #00bf33;
    text-decoration: none;
  }
  
  .payment-section h3 {
    margin-bottom: 10px;
  }

  .payment-tile{
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    /* height: 100px; */
    margin-top: 20px;
    position: relative;
  }
  .payment-tile h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: normal;
  }
  
  .payment-options {
    display: flex;
    justify-content: space-between;
  }
  
  .payment-options img {
    width: 27%;
    height: 50%;
  }
  
  .mobile-footer {
    background-color: #222;
    padding: 10px 0;
    position: fixed;  /* Fix the navbar at the bottom */
    bottom: 0;  /* Attach to the bottom of the viewport */
    left: 0;
    right: 0;
    width: 100%;  /* Ensure it spans the entire width */
    z-index: 100;  /* Ensure it stays on top of other elements */
    
    /* Add padding for devices with notches or bottom UI bars */
    padding-bottom: env(safe-area-inset-bottom, 15px);  /* Fallback to 10px if the safe-area isn't supported */
  }
  
  .bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-item {
    text-align: center;
    color: white;
    font-size: 1.1em;
  }
  
  .nav-item span {
    display: block;
    font-size: 0.8em;
  }

  /* Styles for the active item */
.nav-item.active {
    color: #00bf33; /* Change text color to green */
  }
  
  .nav-item.active svg {
    color: #00bf33; /* Change icon color to green */
  }
  