.mobile-queue{
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    height: 90%;
  }
  
  .mobile-queue h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 1.1em;
  }
  .mobile-queue h2 a {
    color: #00bf33;
    text-decoration: none;
  }
  
  .mobile-song-container {
    background-color: #121212;
    padding: 1px;
    border-radius: 5px;
    overflow-y: auto;
    height: 90%;
  }

  .confirmation-message {
    color: #00bf33;
    font-style: italic;
    margin-top: 10px;
    text-align: left;
}

  @keyframes fadeInOut {
      0%, 100% { opacity: 0; }
      10%, 90% { opacity: 1; }
  }

  .mobile-song-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .mobile-song-container::-webkit-scrollbar-thumb {
    background-color: #00bf33;
    border-radius: 5px;
  }
  
  .mobile-song-list {
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .mobile-song-item {
    display: flex;
    height: 70px;
    align-items: center;
    background-color: #222;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #00bf33;
  }
  
  .mobile-song-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .mobile-song-info {
    flex: 1;
    font-size: 1.0em;
  }
  
  .mobile-song-info p {
    margin-bottom: 2px;
  }
  
  .mobile-artist {
    font-size: 0.8em;
    color: gray;
  }

  .mobile-upvote, .mobile-downvote {
    width: 25px;
    height: 25px;
  }
  
  .mobile-song-upvotes {
    color: #ffffff;
    font-size: 1.0em;
    margin: 10px;
  }

.active-upvote {
    color: #00bf33;
  }
  
  .active-downvote {
    color: #ff3333;
  }


.scrolling-window {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scrolling-text {
  display: inline-block;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0%, 20% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


  
  