* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-header {
  background-color: #0b0b0b;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header-logo {
  width: 200px;
  height: auto;
}

.bell-icon {
  font-size: 1.5em;
  color: white;
  position: absolute;
  right: 15px;
  top: 15px;
}

.mobile-content {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  flex: 1;
}

.listening-section {
  background-color: #1e1e1e;
  height: 75px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.listening-section p a {
  color: #00bf33;
  text-decoration: none;
}

.payment-tile {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.payment-tile h3 {
  margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: normal;
}

.mobile-payment-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-payment-content img{
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.payment-description {
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #d3d3d3;
}

.payment-button {
  background-color: #00bf33;
  color: white;
  font-size: 1.1em;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.payment-button:hover {
  background-color: #019628;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.payment-help-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.external-link {
  color: #00bf33;
  margin-left: 5px;
}

.mobile-footer {
  background-color: #0b0b0b;
  padding: 10px 0;
  border-top: 1px solid #1e1e1e;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  padding-bottom: env(safe-area-inset-bottom, 10px);
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

.nav-item {
  text-align: center;
  color: white;
  font-size: 1.1em;
}

.nav-item svg {
  font-size: 1.4em;
}

.nav-item span {
  display: block;
  font-size: 0.7em;
}

.nav-item.active {
  color: #00bf33;
}

.nav-item.active svg {
  color: #00bf33;
}
